# Praktische Übung 1: Pandas

Lösen Sie die nachfolgenden Aufgaben und nutzen Sie das in der Vorlesung gezeigte Notebook `0_Pandas_Intro.ipynb` als Lösungshilfe.

## Aufgabe 1

1. Laden Sie den Datensatz `automobile.csv` von GitHub aus dem Folder `data` runter.
2. Laden Sie die Daten in diesem Notebook in einen Pandas DataFrame.
3. Schauen Sie sich die Daten an und versuchen Sie zu verstehen was die Daten abbilden.
4. Geben Sie folgende Daten aus:
    1. Eine Liste aller Hersteller.
    2. Wie oft welcher „body-style“ im Datensatz vorhanden ist.
    3. Die fünf Autos mit dem niedrigsten Preis.
    4. Die fünf Autos mit dem höchsten Preis

In [18]:
import pandas as pd
automobile = pd.read_csv('.//data//automobile.csv')

automobile.head()

# 4.
# 1)
automobile["company"].unique()

# 2)
automobile["body-style"].value_counts()

# 3)
automobile["price"].sort_values().head(5)

# 4)
automobile["price"].sort_values(ascending=False).head(5)

35    45400.0
11    41315.0
34    40960.0
46    37028.0
12    36880.0
Name: price, dtype: float64

## Aufgabe 2

1. Was ist der durchschnittliche Preis mit Bezug auf den „body-style“ eines Autos?
2. Welches sind die drei „body-style“s mit den durchschnittlich höchsten Preisen?
3. Welche Companies stellen „hardtop“ als „body-style“ her?
4. Geben Sie alle Autos aus deren Herstellernamen mit "a" oder "b" beginnt ([Hint](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html)).
5. Erstellen Sie je einen Scatterplot mit:
    1. Scatterplot mit `x="horsepower"` und `y="average-mileage"`
    2. Scatterplot mit `x="horsepower"` und `y="price"`

In [53]:
# 1)
avr_price = automobile.groupby("body-style")["price"].mean()

# 2)
avr_price.sort_values(ascending=False).head(3)

# 3)
automobile[automobile["body-style"] == "hardtop"]["company"]

# 4)

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
   index company body-style  wheel-base  length engine-type num-of-cylinders  \
3      3    audi      sedan        99.8   176.6         ohc             four
4      4    audi      sedan        99.4   176.6         ohc             five
5      5    audi      sedan        99.8   177.3         ohc             five
6      6    audi      wagon       105.8   192.7         ohc             five

   horsepower  average-mileage    price
3         102               24  13950.0
4         115               18  17450.0
5         110               19  15250.0
6         110               19  18920.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
7       9     bmw      sedan       101.2   176.8         ohc             four
8      10     bmw      sedan       101.2   176.8         ohc             four
9      11     bmw      sedan       101.2   176.8         ohc              six
10     13     bmw      sedan       103.5   189.0         ohc              six
11     14     bmw      sedan       103.5   193.8         ohc              six
12     15     bmw      sedan       110.0   197.0         ohc              six

    horsepower  average-mileage    price
7          101               23  16430.0
8          101               23  16925.0
9          121               21  20970.0
10         182               16  30760.0
11         182               16  41315.0
12         182               15  36880.0
    index    company body-style  wheel-base  length engine-type  \
13     16  chevrolet  hatchback        88.4   141.1           l
14     17  chevrolet  hatchback        94.5   155.9         ohc
15     18  chevrolet      sedan        94.5   158.8         ohc

   num-of-cylinders  horsepower  average-mileage   price
13            three          48               47  5151.0
14             four          70               38  6295.0
15             four          70               38  6575.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
16     19   dodge  hatchback        93.7   157.3         ohc             four
17     20   dodge  hatchback        93.7   157.3         ohc             four

    horsepower  average-mileage   price
16          68               31  6377.0
17          68               31  6229.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
21     30   isuzu      sedan        94.3   170.7         ohc             four
22     31   isuzu      sedan        94.5   155.9         ohc             four
23     32   isuzu      sedan        94.5   155.9         ohc             four

    horsepower  average-mileage   price
21          78               24  6785.0
22          70               38     NaN
23          70               38     NaN
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
24     33  jaguar      sedan       113.0   199.6        dohc              six
25     34  jaguar      sedan       113.0   199.6        dohc              six
26     35  jaguar      sedan       102.0   191.7        ohcv           twelve

    horsepower  average-mileage    price
24         176               15  32250.0
25         176               15  35550.0
26         262               13  36000.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
27     36   mazda  hatchback        93.1   159.1         ohc             four
28     37   mazda  hatchback        93.1   159.1         ohc             four
29     38   mazda  hatchback        93.1   159.1         ohc             four
30     39   mazda  hatchback        95.3   169.0       rotor              two
31     43   mazda      sedan       104.9   175.0         ohc             four

    horsepower  average-mileage    price
27          68               30   5195.0
28          68               31   6095.0
29          68               31   6795.0
30         101               17  11845.0
31          72               31  18344.0
    index        company body-style  wheel-base  length engine-type  \
32     44  mercedes-benz      sedan       110.0   190.9         ohc
33     45  mercedes-benz      wagon       110.0   190.9         ohc
34     46  mercedes-benz      sedan       120.9   208.1        ohcv
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv

   num-of-cylinders  horsepower  average-mileage    price
32             five         123               22  25552.0
33             five         123               22  28248.0
34            eight         184               14  40960.0
35            eight         184               14  45400.0
    index     company body-style  wheel-base  length engine-type  \
36     49  mitsubishi  hatchback        93.7   157.3         ohc
37     50  mitsubishi  hatchback        93.7   157.3         ohc
38     51  mitsubishi      sedan        96.3   172.4         ohc
39     52  mitsubishi      sedan        96.3   172.4         ohc

   num-of-cylinders  horsepower  average-mileage   price
36             four          68               37  5389.0
37             four          68               31  6189.0
38             four          88               25  6989.0
39             four          88               25  8189.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
40     53  nissan      sedan        94.5   165.3         ohc             four
41     54  nissan      sedan        94.5   165.3         ohc             four
42     55  nissan      sedan        94.5   165.3         ohc             four
43     56  nissan      wagon        94.5   170.2         ohc             four
44     57  nissan      sedan       100.4   184.6        ohcv              six

    horsepower  average-mileage    price
40          55               45   7099.0
41          69               31   6649.0
42          69               31   6849.0
43          69               31   7349.0
44         152               19  13499.0
    index  company   body-style  wheel-base  length engine-type  \
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf
47     63  porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
45              six         207               17  34028.0
46              six         207               17  37028.0
47            eight         288               17      NaN
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0
    index     company body-style  wheel-base  length engine-type  \
55     80  volkswagen      sedan        97.3   171.7         ohc
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc

   num-of-cylinders  horsepower  average-mileage   price
55             four          52               37  7775.0
56             four          85               27  7975.0
57             four          52               37  7995.0
58             four         100               26  9995.0
    index company body-style  wheel-base  length engine-type num-of-cylinders  \
59     87   volvo      sedan       104.3   188.8         ohc             four
60     88   volvo      wagon       104.3   188.8         ohc             four

    horsepower  average-mileage    price
59         114               23  12940.0
60         114               23  13415.0

## Aufgabe 3

1. Zusätzlich stehen ihnen nachfolgende Informationen zur Verfügung. Erstellen Sie einen zweiten DataFrame, der diese Informationen enthält.

|company|country|
|--- |--- |
|alfa-romero|ITA|
|audi|GER|
|bmw|GER|
|volvo|SWE|
|nissan|JAP|
|mazda|JAP|

2. Verbinden Sie die zwei DataFrames über einen `merge` ([Hint](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)). Stellen Sie sicher, dass die Datenpunkte welche keine Länderangabe haben nicht verloren gehen.
3. Geben Sie in einem DataFrame aus, wieviel Fahrzeuge pro Land vorhanden sind und wie hoch der Durchschnittspreis pro Land liegt.

## Bonus

Folgende Aufgaben sind als Bonus gedacht (für diejenigen die mit den vorherigen Aufgaben schon durch sind). Um sie zu lösen muss selbstständig nach den benötigten Methoden im Internet gesucht werden. 
1. Entfernen Sie die Spalte „body-styles“ vom DataFrame.
2. Erstellen Sie einen neuen DataFrame der 10% zufällig ausgewählte Zeilen aus dem ursprünglichen DataFrame enthält.
3. Fügen Sie die Zeilen des neuen DataFrames an den ursprünglichen DataFrame unten ran.
4. Zählen Sie die Anzahl doppelter Einträge in diesem DataFrame.