# Praktische Übung 1: Pandas

Lösen Sie die nachfolgenden Aufgaben und nutzen Sie das in der Vorlesung gezeigte Notebook `0_Pandas_Intro.ipynb` als Lösungshilfe.

## Aufgabe 1

1. Laden Sie den Datensatz `automobile.csv` von GitHub aus dem Folder `data` runter.
2. Laden Sie die Daten in diesem Notebook in einen Pandas DataFrame.
3. Schauen Sie sich die Daten an und versuchen Sie zu verstehen was die Daten abbilden.
4. Geben Sie folgende Daten aus:
    1. Eine Liste aller Hersteller.
    2. Wie oft welcher „body-style“ im Datensatz vorhanden ist.
    3. Die fünf Autos mit dem niedrigsten Preis.
    4. Die fünf Autos mit dem höchsten Preis

In [55]:
import pandas as pd
automobile = pd.read_csv('.//data//automobile.csv')

automobile.head()

# 4.
# 1)
automobile["company"].unique()

# 2)
automobile["body-style"].value_counts()

# 3)
automobile["price"].sort_values().head(5)

# 4)
automobile["price"].sort_values(ascending=False).head(5)

35    45400.0
11    41315.0
34    40960.0
46    37028.0
12    36880.0
Name: price, dtype: float64

## Aufgabe 2

1. Was ist der durchschnittliche Preis mit Bezug auf den „body-style“ eines Autos?
2. Welches sind die drei „body-style“s mit den durchschnittlich höchsten Preisen?
3. Welche Companies stellen „hardtop“ als „body-style“ her?
4. Geben Sie alle Autos aus deren Herstellernamen mit "a" oder "b" beginnt ([Hint](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html)).
5. Erstellen Sie je einen Scatterplot mit:
    1. Scatterplot mit `x="horsepower"` und `y="average-mileage"`
    2. Scatterplot mit `x="horsepower"` und `y="price"`

In [67]:
# 1)
avr_price = automobile.groupby("body-style")["price"].mean()

# 2)
avr_price.sort_values(ascending=False).head(3)

# 3)
automobile[automobile["body-style"] == "hardtop"]["company"]

# 4)
automobile[automobile["company"].str.startswith("a")]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0

## Aufgabe 3

1. Zusätzlich stehen ihnen nachfolgende Informationen zur Verfügung. Erstellen Sie einen zweiten DataFrame, der diese Informationen enthält.

|company|country|
|--- |--- |
|alfa-romero|ITA|
|audi|GER|
|bmw|GER|
|volvo|SWE|
|nissan|JAP|
|mazda|JAP|

2. Verbinden Sie die zwei DataFrames über einen `merge` ([Hint](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)). Stellen Sie sicher, dass die Datenpunkte welche keine Länderangabe haben nicht verloren gehen.
3. Geben Sie in einem DataFrame aus, wieviel Fahrzeuge pro Land vorhanden sind und wie hoch der Durchschnittspreis pro Land liegt.

## Bonus

Folgende Aufgaben sind als Bonus gedacht (für diejenigen die mit den vorherigen Aufgaben schon durch sind). Um sie zu lösen muss selbstständig nach den benötigten Methoden im Internet gesucht werden. 
1. Entfernen Sie die Spalte „body-styles“ vom DataFrame.
2. Erstellen Sie einen neuen DataFrame der 10% zufällig ausgewählte Zeilen aus dem ursprünglichen DataFrame enthält.
3. Fügen Sie die Zeilen des neuen DataFrames an den ursprünglichen DataFrame unten ran.
4. Zählen Sie die Anzahl doppelter Einträge in diesem DataFrame.