# Praktische Übung 2: Logistische Regresssion

## Der Titanic Datensatz


Gegeben: Verschiedene Attribute zu den Passagieren auf der Titanic. <br>
Frage: Hat der Passagier das Unglück überlebt?

Da wir den Umgang mit kategorischen Features noch nicht eingeführt haben benutzen wir nur folgende Attribute: <br>
- `Pclass`: Passenger cabin class (1 = 1st, 2 = 2nd, 3 = 3rd)
- `Age`: Age of passenger
- `SibSp`: Number of siblings/spouses aboard
- `Parch`: Number of children/parents aboard
- `Fare`: Passender Fare (brithish pound)
- `Survived`: Did passenger survive? (0 = no, 1 = yes)

## Aufgabe 1

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf GitHub.
2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"
3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

In [24]:
import pandas as pd
data = pd.read_csv('/home/jonas/uni/Semester_3/MaschinellesLernen/ml-kurs-ws24/data/titanic.csv')
data = data.drop(['PassengerId', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1)
print(len(data))
data = data.dropna()
print(len(data))
data.head()

891
714

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

## Aufgabe 2

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. Nutzen Sie dabei zur besseren Vergleichbarkeit das Argument `random_state=0`.
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy (`~0.69`)
    - Precision (`~0.72`)
    - Recall (`~0.53`)

In [22]:
from sklearn.model_selection import train_test_split
import numpy as np

# split data into train and test
data_no_label = data.drop(["Survived"], axis=1)
x_train, x_test, y_train, y_test = train_test_split(data_no_label, data["Survived"], test_size=0.2, random_state=0)

# train the model
from sklearn.linear_model import LogisticRegression
ligisticRegr = LogisticRegression(max_iter=1000) # Gradient descent mit maximal 1000 itterations
ligisticRegr.fit(x_train, y_train)

# predict the test data
y_pred = ligisticRegr.predict(x_test)

## Aufgabe 3

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus (Hinweis: Schauen Sie im Notebook `0_Pandas_Intro` unter "Adding new columns" nach wie das geht). Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. Hinweis: Python wandelt Booleans automatisch in Nummern um.
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

## Bonus

Welches sind die wichtigsten und unwichtigsten Features des Modells fur die Vorhersage?