# Praktische Übung 2: Logistische Regresssion

## Der Titanic Datensatz


Gegeben: Verschiedene Attribute zu den Passagieren auf der Titanic. <br>
Frage: Hat der Passagier das Unglück überlebt?

Da wir den Umgang mit kategorischen Features noch nicht eingeführt haben benutzen wir nur folgende Attribute: <br>
- `Pclass`: Passenger cabin class (1 = 1st, 2 = 2nd, 3 = 3rd)
- `Age`: Age of passenger
- `SibSp`: Number of siblings/spouses aboard
- `Parch`: Number of children/parents aboard
- `Fare`: Passender Fare (brithish pound)
- `Survived`: Did passenger survive? (0 = no, 1 = yes)

## Aufgabe 1

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf GitHub.
2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"
3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

In [83]:
import pandas as pd
raw_data = pd.read_csv('/home/jonas/uni/Semester_3/MaschinellesLernen/ml-kurs-ws24/data/titanic.csv')
data = raw_data.drop(['PassengerId', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1)
print(len(data))
data = data.dropna()
print(len(data))
raw_data.head()

891
714

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Aufgabe 2

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. Nutzen Sie dabei zur besseren Vergleichbarkeit das Argument `random_state=0`.
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy (`~0.69`)
    - Precision (`~0.72`)
    - Recall (`~0.53`)

In [84]:
from sklearn.model_selection import train_test_split
import numpy as np

# split data into train and test
data_no_label = data.drop(["Survived"], axis=1)
x_train, x_test, y_train, y_test = train_test_split(data_no_label, data["Survived"], test_size=0.2, random_state=0)

# train the model
from sklearn.linear_model import LogisticRegression
ligisticRegr = LogisticRegression(max_iter=1000) # Gradient descent mit maximal 1000 itterations
ligisticRegr.fit(x_train, y_train)

# prediction for one data point
data_index = 2
data_point = x_test.iloc[[data_index]]
prediction = ligisticRegr.predict(data_point)
print("Vorhersage auf Datenpunkt", data_index, "ist:", prediction)

# predictions for all test point
predictions = ligisticRegr.predict(x_test)
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

accuracy = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
print("Genauigkeit des Modells:", accuracy)
print("Präzision des Modells:", precision)
print("Recall des Modells:", recall)

Vorhersage auf Datenpunkt 2 ist: [1]

Genauigkeit des Modells: 0.6993006993006993
Präzision des Modells: 0.723404255319149
Recall des Modells: 0.53125

## Aufgabe 3

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus (Hinweis: Schauen Sie im Notebook `0_Pandas_Intro` unter "Adding new columns" nach wie das geht). Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. Hinweis: Python wandelt Booleans automatisch in Nummern um.
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

In [85]:
# adding sex as a feature
raw_data.replace("female", 0, inplace=True)
raw_data.replace("male", 1, inplace=True)
raw_data.replace("S", 0, inplace=True)
raw_data.replace("C", 1, inplace=True)
raw_data.replace("Q", 2, inplace=True)
                 

data["Sex"] = raw_data["Sex"]
data["Embarked"] = raw_data["Embarked"]

data = data.dropna()

# training the model with the new feature
data_no_label = data.drop(["Survived"], axis=1)
x_train, x_test, y_train, y_test = train_test_split(data_no_label, data["Survived"], test_size=0.2, random_state=0)

# train the model
from sklearn.linear_model import LogisticRegression
ligisticRegr = LogisticRegression(max_iter=1000) # Gradient descent mit maximal 1000 itterations
ligisticRegr.fit(x_train, y_train)

# predictions for all test point
predictions = ligisticRegr.predict(x_test)
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

accuracy = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
print("Genauigkeit des Modells:", accuracy)
print("Präzision des Modells:", precision)
print("Recall des Modells:", recall)

Genauigkeit des Modells: 0.8111888111888111
Präzision des Modells: 0.8269230769230769
Recall des Modells: 0.7049180327868853

In [86]:
personal_data = pd.DataFrame({  "Pclass": [1], 
                                "Age": [20],
                                "SibSp": [0], 
                                "Parch": [0], 
                                "Fare": [7.25],
                                "Sex": [0],
                                "Embarked": [0]
                                })
prediction = ligisticRegr.predict(personal_data)
print("Vorhersage auf persönlichen Daten:", prediction[0] == 1 and "überlebt" or "nicht überlebt")

Vorhersage auf persönlichen Daten: überlebt

## Bonus

Welches sind die wichtigsten und unwichtigsten Features des Modells fur die Vorhersage?